/* bujjistyle.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Ensure the video stays in the background */
  }
  
  #bg-video {
    position: absolute;
    top: 50%;
    left: 50%; /* Move the left edge of the video to the right edge of the viewport */
    min-width: 100%;
    min-height: 100%;
    filter: brightness(30%);
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%); /* Move the video left and center vertically */
  }
  
  .head {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  img{
    width: 20em;
    border-radius: 25px;
  }
  button{
    background-color: red;
    color: white;
    width: 200px;
    height:50px;
    border-radius: 30px;
    border: none;
    transition: 0.5s ease;

  }
  button:hover{
    background-color: rgb(0, 255, 0);
    border-radius: 05px;
    /* color: black; */
  }