body {
  font-family: "Open Sans", sans-serif;
  background-color: #0a0094;
}

#chat-window {
  width: 90vw;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#note{
  font-size: 15px;
  color: rgba(255, 199, 199, 0.596);
}
#chat-messages {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #00b4b1;
  height: calc(100vh - 200px);
  max-height: calc(100vh - 230px);
  overflow: auto;
}

#chat-form {
  display: flex;
  align-items: center;
}
#chat-input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  color: black;
  
  border: 1px solid #ccc;
  background: linear-gradient(90deg, rgba(0, 183, 255, 0.784), rgb(106, 0, 255, 0.784), rgb(0, 183, 255, 0.784));
  background-size: 400% 100%; /* Quadruple the width to ensure smooth transition */
  animation: gradientAnimation 4s linear infinite; /* Adjust animation duration as needed */
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 50%; /* Start from the right */
  }
  100% {
    background-position: 0% 50%; /* Move to the left */
  }
}



button[type="submit"] {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #83ff73;
  color: #0e217f;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}
.bot-message {
  font-family: "Roboto", sans-serif;
  background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(40, 183, 255,1) 75%);  text-align: justify; /* keep it right-aligned */
  padding: 15px; /* added padding */
  margin-top: 10px; /* added margin-top to create a gap */
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  /* font-style: italic; */
  border-radius: 0px 10px 10px 10px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#precode{
  border-style: solid;
  border-color:rgb(255, 255, 255) ;
  border-width: 2px;
  background-color: rgb(0, 0, 0);
  color: rgb(0, 255, 4);
  border-radius: 5px;
  padding: 10px;
  font-family:'Courier New', Courier, monospace ;
  font-size: 15px;
  width: fit-content;
  white-space: pre-wrap;
  
}
.user-message {
  font-family: "Nunito", sans-serif;
  background: rgb(0,0,0);
background: linear-gradient(90deg, rgb(40, 183, 255) 10%, rgb(255, 255, 255) 95%);
  text-align: right; /* changed text align to left */
  padding: 15px; /* added padding */
  display: flex;
  align-items: center;
  color:black;
  /* font-st; */
  border-radius: 10px 0px 10px 10px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex-direction: row-reverse;
  /* width: fit-content; */
  
}
.user-message img{
  width: 80px; /* adjust the width of the icon */
  height: 80px; /* adjust the height of the icon */
  margin-right: 20px; /* add some margin to separate the icon from the message */
}
.bot-message img {
  width: 70px; /* adjust the width of the icon */
  height: 80px; /* adjust the height of the icon */
  margin-right: 20px;
}
.main-title {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 0.5rem;
  color: #2a15e1;
  font-style: italic;
}

@media only screen and (max-width: 700px) {  
  body{
    justify-content: space-evenly;
  }
  #chat-window {
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
  /* margin-right: 10px; */
position: relative;
margin-top:auto;
}
  .main-title {
    font-size: 8vw;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0px !important; 
  }
  #note{
    font-size: 5vw;
    color: red;
    font-weight: bold;
  }
  .bot-message {
    font-size: 35px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    }
    #precode{
      font-size: 70%;
      font-style: normal;
      width: fit-content;
      font-family: 'Times New Roman', Times, serif;
      white-space: pre-wrap;
    }
    .user-message {
     font-size: 2.5em;
     font-style: normal;   
     font-family: 'Times New Roman', Times, serif; 
    }
  #chat-input {
    flex-grow: 1;
    /* padding: 10px; */
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 5vw;
    width: inherit;
  }
  button[type="submit"] {
    font-size: 5vw;
  }
  #chat-messages {
    padding: 10px;
    margin-bottom: 10px;
    max-height: none;
    border-bottom: 1px solid #00b4b1;
    overflow: auto;
    position: absolute;
    height: 60vh;
    margin-top: 08vh;
    
  }
  #chat-messages span,pre{
    font-size: 5vw;
    
  }
  
  #chat-form{
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  /* justify-content: center; */
  }
  /* #chat-form button{
   text;
  } */
}
