body{
  padding: 0px !important;
  margin: 0px !important;
  /* background-image: url('fcbg.jpg'); */
}
#imgs{
    height: 170px;
    width: 300px;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    border-style: solid;
    transition: ease 1s;
}
#imgs:hover{
    transform:scale(1.15);
    overflow: hidden;
}
.buttons{
    padding-left: 10px;
    margin: 10px;
  }
.btn{
    border: 1px solid #ffffff;
    background:none;
    font-size: larger;
    font-weight: 600;
    padding: 10px 20px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    margin-left: 00px;
    transition: 0.8s;
    border-radius: 15px;
    border-color: #00059d;
    position: relative;
    overflow:hidden;
   }
  .btn1,.btn2,.btn3,.btn4{
    color:#0008ff;
  }
  .btn1:hover,.btn2:hover,.btn3:hover,.btn4:hover{
    color: #ffffff ;
  }
  .btn::before{
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
    height: 0%;
    background: #2600ff;
    transition: 0.8s;
    z-index: -5;
  }
  .btn1::before,.btn3::before{
    top: 0;
    border-radius: 0 0 50% 50%;
  }
  .btn2::before,.btn4::before{
   
    bottom: 0;
    border-radius: 50% 50% 0 0 ;
  }
  .btn1:hover::before,.btn2:hover::before,.btn3:hover::before,.btn4:hover::before{
    height: 180%;
    border-color: white;
  }
  
.courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.c{
    width: 310px;
    background-color: rgb(220, 220, 220);
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
}
#headcerti{
  color: rgb(167, 0, 0);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: space-around;
  font-size: 30px
}
@media only screen and (max-width: 600px) {
  #headcerti{
    color: rgb(170, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-around;
    font-size: 20px
  }
  #imgs{
    height: 225px;
    width: 275px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
}
.c{
  width: fit-content;
  background-color: rgb(220, 220, 220);
  margin: 20px;
  padding: 5px;
}
}