* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: rgb(47, 214, 47);
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}

.quiz-button {
    display: block;
    text-align: center;
    padding: 15px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.quiz-button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(47, 214, 47);
    color: white;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.8em;
    }

    p {
        font-size: 1em;
    }
}
