body{
    background-color: rgb(237, 165, 255);
    padding: 0 !important;
    margin: 0 !important;
    
}
.bgimg{
    position: fixed;
}
.loginform{
    position: relative;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: fit-content;
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: rgba(255, 255, 255, 0.188);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main{
    padding-top: 10vw;
    width: fit-content;
    display: flex;

}
.yop{
    padding-left: 20px;
    
}
#yno{
    font-size: x-large;
}
.sp{
    padding-left: 20px;
}
.sbtn{
    padding-left: 95px;
}
#btns{
    font-size: x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 150px;
    border-radius: 10px;
    padding: 5px;
    transition: transform 1s;
}
#btns:hover{
    background-image:linear-gradient(blue,white);
    color: white;
    transform: scale(1.3);
}

#new{
    position: relative;
    color: rgb(255, 255, 255);
    font-size: large;
}
@media only screen and (max-width: 600px) {
.main{
    padding-top: 20vw;
}
}