body,html{
    height: 100%;
}
body{
    padding: 0px !important;
    margin: 0px !important;
    background-image: url("year2bg.JPG");
    background-repeat:no-repeat;
    background-attachment: fixed;
}
header{
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    color: red;
    z-index: 5;
    padding: 0;
    display: flex;
}
.sections{
    font-size: 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#item{
    color: rgb(0, 4, 129);
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    margin: 0;
    font-weight: bold;
    /* backdrop-filter: blur(20px); */
    text-decoration: none;
    background-color: rgba(250, 235, 215, 0.207);
}
.sec{
    transition: 1s ease;
    margin: 5px;
}
.sec:hover{
    transform: scale(1.2);
  }
.head{
    font-size:large;
    color: rgb(0, 4, 129);
}
.bgimg{
    position: fixed;
   
}
.bg-image{
    padding: 0 !important;
    margin: 0 !important;
}
.content{
    position:relative;
}
.pdf{
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    margin: 1vw;
    width: 10em;
    font-size: large;
    background-color: rgba(255, 255, 255, 0.156);
    word-wrap: break-word;
    transition: 1s ease;
    /* backdrop-filter: blur(20px); */
}
.pdf:hover{
    transform: scale(1.2);
    background-image: linear-gradient(rgba(144, 0, 255, 0.379), rgba(0, 187, 255, 0.516));
}
.pdfs{
    position:relative;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;

} 
.pdftext{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1vw; 
    display: flex;
    font-size: large;
    /* font-size: 2vw; */
 }
 #anc{
    text-decoration: none;
    color: rgb(0, 4, 129);
    font-weight:bolder;

 }
 footer{
    position: relative;
    background-color: rgba(255, 255, 255, 0.551);
    z-index: 5;
 }
 .ppt{
    display: flex;
    font-size: 1lvw;
    margin-top:20px ;
    color: white;
 }
 .pdfsec{
    display: flex;
 }
 .ppts{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }
 .subs{
    font-size:medium;
    color: white;
 }
 #sel{
    font-size: 2vw;
 }
 @media only screen and (max-width: 600px) {
    .head {
        color: rgb(255, 200, 0);
        font-size: 15px;
    }
    .headr{
        font-size: small;
        justify-content: space-around;
    
      }
      #anc{
        color: rgb(0, 4, 129);
      }
    .ppt{
        display: flex;
        font-size: 10px;
     }
     #pdfimg{
        width:55px;
        height:70px;

     }
     .subs{
        font-size: 10px;
     }
     .pdftext{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 1vw; 
        display: flex;
        font-size: 10px;
     }
     .pdf{
        border-style: solid;
        border-radius: 10px;
        border-color: white;
        margin: 1vw;
        width: 10em;
        font-size: 15px;
        background-color: rgba(255, 255, 255, 0.256);
        word-wrap: break-word;
        
    }
    #sel{
        font-size: large;
    }
    .sections{
        font-size: medium;
    }
  }