body,html{
    height: 100%;
}
body{
    padding: 0px !important;
    margin: 0px !important;
}
header{
    background-color: rgb(0, 0, 94);
    color: red;
}
.elements{
    display: flex;
    color: black;
}
.sections{
    font-size: 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.bk{
    font-size: 1.5vw;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.552);
    padding-top: 0px !important;

}
.bksec{
    transition: 1s ease;
    margin: 5px;
    padding: 10px;
    
}
#item{
    color: rgb(255, 255, 255);
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    margin: 0;
    font-weight: bold;
    /* backdrop-filter: blur(20px); */
    text-decoration: none;
    background-color: rgba(250, 235, 215, 0.207);
}
.sec{
    transition: 1s ease;
    margin: 5px;
}
.sec:hover{
    transform: scale(1.2);
  }
.head{
    font-size:large;
    color: rgb(255, 255, 255);
}
.bgimg{
    position: fixed;
    filter:blur(5px);
}
.content{
    position:relative;
}
.pdf{
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    margin: 1vw;
    width: 10em;
    font-size: large;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255);
    word-wrap: break-word;
    transition: 1s ease;
}
.pdf:hover{
    transform: scale(1.2);
    background-image: linear-gradient(rgba(255, 255, 255, 0.516),rgba(0, 140, 255, 0.379));
}
.pdfs{
    position:relative;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;

} 
.pdftext{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1vw; 
    display: flex;
    font-size: large;
    /* font-size: 2vw; */
 }
 #anc{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight:bolder;

 }
 footer{
    position: relative;
    background-color: rgba(255, 255, 255, 0.551);
 }
 .ppt{
    display: flex;
    font-size: 1lvw;
 }
 .pdfsec{
    display: flex;
 }
 .ppts{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }
 .subs{
    font-size:medium;
    color: rgb(0, 0, 0);
 }
 @media only screen and (max-width: 600px) {
    .head {
        color: rgb(255, 157, 0);
        font-size: 15px;
    }
    .sections{
        font-size: medium;
    }
    .ppt{
        display: flex;
        font-size: 10px;
     }
     #pdfimg{
        width:55px;
        height:70px;

     }
     .subs{
        font-size: 10px;
     }
     .pdftext{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 1vw; 
        display: flex;
        font-size: 10px;
     }
     .pdf{
        border-style: solid;
        border-radius: 10px;
        border-color: white;
        margin: 1vw;
        width: 10em;
        font-size: 15px;
        background-color: rgba(255, 255, 255, 0.103);
        word-wrap: break-word;
        
    }
  }