body,html{
    height: 100%;
}
body{
    padding: 0px !important;
    margin: 0px !important;
    cursor: none;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.cursor{
  z-index: 99999;
  position: absolute;
  background: #2696E8;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 20px #2696E8,
              0 0 60px #2696E8,
              0 0 100px #2696E8;
  animation: colors 5s infinite;
  transform: translate(-50%, -50%);
  display: none;
}

@keyframes colors{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}

.cursor:before{
  content: '';
  position: absolute;
  background: #2696E8;
  width: 50px;
  height: 50px;
  z-index: 100;
  opacity: 0.2;
  transform: translate(-30%, -30%);
  border-radius: 50%;
}

.bg-image{
    position:fixed;
}
.content{
    position: relative;
}
.bk{
    font-size: 1.5vw;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.552);
    padding-top: 0px !important;

}
.bksec{
    transition: 1s ease;
    margin: 5px;
    padding: 10px;
    
}
#item{
    color: rgb(255, 255, 255);
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    margin: 0;
    font-weight: bold;
    /* backdrop-filter: blur(20px); */
    text-decoration: none;
    background-color: rgba(250, 235, 215, 0.207);
}
.head{
    color: white;
}
footer{
    position: relative;
    background-color: rgba(255, 255, 255, 0.551);
 }
@media only screen and (max-width: 600px) {
    .head {
        font-size: 15px;
    }
  }